/*  HALAMAN INDEX  */
a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #5d5d5d;
}

/* help */
#help {
  cursor: pointer;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

/* carousel */

#carouselExampleControls {
  margin-top: 61px;
}

.slide-item {
  width: 100%;
  background: #0a9ad3;
  height: 600px;
  text-align: center;
}

.carousel-img {
  width: 1080px;
  height: 465px;
}

.dua {
  background-color: coral;
}

.rectangle {
  cursor: pointer;
  width: 285px;
  height: 47px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 20px;

  margin: 0px auto;
  margin-top: 50px;
  position: relative;
}

.rectangle p {
  font: Regular 16px/20px PT Sans;
  letter-spacing: 0.48px;
  font-size: 16px;
  color: #5d5d5d;
  text-transform: uppercase;
  padding-top: 10px;
}

.polygon {
  width: 0;
  height: 0;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  margin: 8px auto;
  border-top: 18px solid #ffffff;
}

/* section 1 */
#branding {
  margin-bottom: 100px;
}

.container {
  margin-top: 20px;
  /* 
    border: 1px solid red; */
  padding: 0px 10px;
  max-width: 1140px;
}

/* 
.row {
    border: 1px solid blue;
} */

.tombol-branding {

  text-align: center;
  color: #5d5d5d;
  height: 45px;
  width: 210px;
  border: 1px solid #707070;
  border-radius: 10px;
  margin: 0px 10px;
  background-color: #ffffff;
}

.tombol-branding:focus {
  outline: none;
}

.tombol-active {
  background-color: #0a9ad3;
  color: white;
}

.branding-area {

  margin-top: 30px;
}

.branding-area h1 {
  font: Semibold 50px/68px Open Sans;
  letter-spacing: 1.55px;
}

.branding-area p {
  font: Regular 25px/34px Open Sans;
  letter-spacing: 0.78px;
  color: #5d5d5d;
}

.branding-lanjut {
  margin-top: 30px;
  width: 270px;
  height: 50px;
  background: #ebebeb 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  border: none;
}



.branding-img {
  width: 185px;
  height: 185px;
  background-color: cornflowerblue;
  float: right;
  margin: 10px 10px;
  background: var(--unnamed-color-0a9ad3) 0% 0% no-repeat padding-box;
  background: #0a9ad3 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}

/* section 1 end */

/* section 2 */
#news {
  height: 550px;
  background: #f3f3f3 0% 0% no-repeat padding-box;
  padding: 30px 0px;
  text-align: center;
}

#news h1 {
  margin-bottom: 30px;
}

/* slider */

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border: 1px solid #707070;
  border-radius: 25px;
}

.carousel-indicators li.active {
  background-color: #0a9ad3;
}

/* card */
.cards {
  border: salmon 1px solid;
  margin: 0px auto;
  max-width: 1100px;
  height: 400px;
}

.cards .col-md-3 {
  padding: 0px 5px;
}

.card {

  text-align: left;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 30px;
  max-width: 260px;
}

div>.card {
  border: blue 1px solid;
}

.card-title {
  font: Bold 14px/19px Nunito;
  letter-spacing: 0px;
  color: #393939;
  margin-bottom: 5px;
}

.card-text {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.card-body {
  padding: 17px;
}

/* 
*
*
*
*
HALAMAN INDEX end
*
*
*
*
*/

/* HALAMAN TENTANG kAMI */

/* section 1 */

.aboutme-img {
  max-width: 470px;
  height: 300px;
  background: var(--unnamed-color-0a9ad3) 0% 0% no-repeat padding-box;
  background: #0a9ad3 0% 0% no-repeat padding-box;
  border-radius: 20px;
}

.aboutme-title {
  font: Medium 40px/30px Roboto;
  letter-spacing: 2px;
  color: #3d3d3d;
}

.aboutme-text {
  text-align: left;
  font-size: 18px;
  letter-spacing: 0.5px;
  color: #3d3d3d;
}

#sticker-ads2 {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* section 1 end */

/* section 2 */
#proses-kerja {
  margin-top: 100px;
  margin-bottom: 160px;
}

.proses-title {
  text-align: left;
  font: Medium 45px/30px Roboto;
  letter-spacing: 2.25px;
  color: #3d3d3d;
  opacity: 1;
}

.proses-img {
  max-width: 235px;
  min-height: 255px;
  background: var(--unnamed-color-0a9ad3) 0% 0% no-repeat padding-box;
  background: #0a9ad3 0% 0% no-repeat padding-box;
  border-radius: 20px;
}

#mobil-img-3 {
  margin-bottom: 300px;
}

/* section 2 end */
/* 
*
*
*
*
 HALAMAN TENTANG KAMI end
*
*
*
*
*/

/* HALAMAN BRANDING MOBIL */

/* section 1 */

.brand-mobil-img {
  max-width: 513px;
  height: 297px;
  background: var(--unnamed-color-0a9ad3) 0% 0% no-repeat padding-box;
  background: #0a9ad3 0% 0% no-repeat padding-box;
  border-radius: 20px;
}

.brand-mobil-title {
  text-align: left;
  font: Semibold 35px/47px Open Sans;
  letter-spacing: 1.75px;
  color: #2d2d2d;
}

.brand-mobil-text {
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
  font: Light 18px/24px Open Sans;
  letter-spacing: 0.9px;
  color: #2d2d2d;
  opacity: 1;
}

/* section 1 end */
/* 
*
*
*
*
 HALAMAN BRANDING MOBIL end
*
*
*
*
*/

/* HALAMAN PORTFOLIO */
/* section 1 */
#portfolio-title {
  font: Semibold 50px/68px Open Sans;
  letter-spacing: 2.5px;
  margin-bottom: 30px;
}

/* portfilio img */
.portfolio-img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 360px;
  height: 260px;
  background: #0a9ad3 0% 0% no-repeat padding-box;
  border-radius: 20px;
}

#pagination {
  margin-top: 65px;
  margin-bottom: 100px;
}

.pg-blue {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section 1 end */
/* 
*
*
*
*
 HALAMAN BRANDING MOBIL end
*
*
*
*
*/

/* HALAMAN KONTAK */
/* section 1 */

/* kontak kiri */
#kontak {
  margin-bottom: 170px;
}

.header-kontak {
  text-align: left;
  font: Semibold 30px/41px Open Sans;
  letter-spacing: 1.5px;
  color: #5d5d5d;
  opacity: 1;
}

.text-kontak {
  text-align: left;
  font: Regular 20px/27px Open Sans;
  letter-spacing: 1px;
  color: #5d5d5d;
}

.tombol-kirim {
  width: 200px;
  height: 39px;
  background-color: #0d78c4;
  color: white;
  border-radius: 20px;
  border: none;
  margin: 30px 0;
}

.tombol-kirim:focus {
  outline: none;
}

/* kontak kanan */
.form-control {
  width: 270px;
}

.text-area {
  width: 80%;
}

/* section 1 end */
/* 
*
*
*
*
 HALAMAN KONTAK end
*
*
*
*
*/

/* HALAMAN FAQ */

.accordion-section .panel-default>.panel-heading {
  border-radius: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 3px #8a8a8a29;
  border: 1px solid #b5b5b5;
  opacity: 1;
  margin-bottom: -12px;
}

.accordion-section .panel-default .panel-title a {
  text-align: left;
  font: Semibold 20px/27px Open Sans;
  letter-spacing: 1px;
  color: #5d5d5d;
  opacity: 1;
}

.accordion-section .panel-default .panel-title a:after {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 2rem;
  content: "\f106";
  color: #1f7de2;
  float: right;
  margin-top: -16px;
}

.accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}

.accordion-section .panel-default .panel-body {
  border-top: none;
  padding-top: 20px;
  border-bottom: 1px solid #acacac;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
}

.panel-body p {
  text-align: left;
  font: Regular 20px/27px Open Sans;
  letter-spacing: 1px;
  color: #5d5d5d;
  opacity: 1;
}

.faq-img {
  max-width: 439px;
  height: 246px;
  background: #1a7fc7 0% 0% no-repeat padding-box;
  border: 1px solid #0e78c4;
  margin: 40px auto;
  margin-bottom: 80px;
}

/*
*
*
*
 HALAMAN FAQ end
*
*
*
*
*/

/* under 1300px */
@media (max-width: 1300px) {

  /* portfolio */
  .portfolio-img {
    width: 328px;
    height: 234px;
    margin: 20px auto;
  }
}

/* under 1000px */
@media (max-width: 1000px) {

  /* portfolio */
  .portfolio-img {
    width: 272px;
    height: 198px;
    margin: 20px auto;
  }

  /* tentang kami */
  .aboutme-img {
    margin: 10px auto;
  }

  .proses-img {
    margin: 10px auto;
  }

  /* index */
  .branding-img {
    width: 150px;
    height: 150px;
    margin: 10px 10px;
  }


  /* ALL */
  .tombol-branding {
    margin: 5px auto;
  }
}

/* under 750px ================*/
@media (max-width: 750px) {

  /* brand mobil */
  .brand-mobil-img {
    max-width: 342px;
    height: 198px;
    margin: 10px auto;
  }

  .brand-mobil-text,
  .brand-mobil-title,
  .brand-mobil-img {
    margin: 10px 30px;
  }

  /* index */
  .branding-img {
    width: 150px;
    height: 150px;
    margin: 10px 10px;
  }

  .brand-imgs {
    padding: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* index */

}

/* under 430px */
@media (max-width: 430px) {

  /* portfolio */
  .portfolio-img {
    width: 292px;
    height: 208px;
    margin: 20px auto;
  }

  /* tentang kami */
  .proses-img {
    margin: 10px auto;
  }

  /* index */
  .carousel-img {
    width: 432px;
    height: 186px;
    margin-top: 40px;
  }

  .slide-item {
    height: 400px;
  }

  .rectangle {
    margin-top: 70px;
  }

  .branding-img {
    width: 100px;
    height: 100px;
    margin: 2px 2px;
  }

  .brand-imgs {
    padding: 0px auto;
  }
}

/* upper 1200 */
@media (min-width: 1050px) {
  #sticker-ads-img2 {
    padding-left: 200px;
  }
}