/*  HALAMAN INDEX  */
a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #5d5d5d;
}

/* help */
#help {
  cursor: pointer;
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

/* carousel */

#carouselExampleControls {
  margin-top: 61px;
}

.slide-item {
  width: 100%;
  background: #0a9ad3;
  height: 600px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-img {
  margin-top: -150px;
  width: 1080px;
  height: 465px;
}

.dua {
  background-color: coral;
}

.rectangle {
  cursor: pointer;
  width: 285px;
  height: 47px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 20px;
  position: absolute;
  top: 510px;
}

.rectangle p {
  font: Regular 16px/20px PT Sans;
  letter-spacing: 0.48px;
  font-size: 16px;
  color: #5d5d5d;
  text-transform: uppercase;
  padding-top: 10px;
}

.polygon {
  width: 0;
  height: 0;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  margin: 8px auto;
  border-top: 18px solid #ffffff;
}

.polygon {
  -moz-animation: bounce 1s infinite;
  -webkit-animation: bounce 1s infinite;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(0px);
  }

  60% {
    transform: translateY(10px);
  }
}

/* section 1 */
#branding {
  margin-bottom: 100px;
}

.container {
  margin-top: 20px;
  /* 
    border: 1px solid red; */
  padding: 0px 10px;
  max-width: 1140px;
}

/* 

*/

.tombol-branding {
  cursor: pointer;
  text-align: center;
  color: #5d5d5d;
  height: 45px;
  width: 210px;
  border: 1px solid #707070;
  border-radius: 10px;
  margin: 0px 10px;
  background-color: #ffffff;
  padding: 5px;
}

.tombol-branding:focus {
  outline: none;
}

.tombol-active {
  background-color: #0a9ad3;
  color: white;
}

.branding-area {
  margin-top: 30px;
}

.branding-area h1 {
  font: Semibold 50px/68px Open Sans;
  letter-spacing: 1.55px;
}

.branding-area p {
  font: Regular 25px/34px Open Sans;
  letter-spacing: 0.78px;
  color: #5d5d5d;
}

.branding-lanjut {
  margin-top: 30px;
  width: 270px;
  height: 50px;
  background: #ebebeb 0% 0% no-repeat padding-box;
  border-radius: 20px;
  opacity: 1;
  border: none;
}

.branding-img {
  width: 210px;
  height: 210px;
  background-color: cornflowerblue;
  float: right;
  margin: 10px 10px;
  background: var(--unnamed-color-0a9ad3) 0% 0% no-repeat padding-box;
  background: #0a9ad3 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
}

/* section 1 end */

/* section 2 */
#news {
  height: 620px;
  background: #f3f3f3 0% 0% no-repeat padding-box;
  padding: 30px 0px;
  text-align: center;
}

#news h1 {
  margin-bottom: 30px;
}

/* slider */

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border: 1px solid #707070;
  border-radius: 25px;
}

.carousel-indicators li.active {
  background-color: #0a9ad3;
}

/* card */
.cards {
  margin: 0px auto;
  max-width: 1100px;
  height: 425px;
}

.card {
  text-align: left;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 30px;
  max-width: 260px;
}

.card-img-top {
  border-radius: 30px 30px 0 0;
  height: 158px;
  background-size: cover;
  background-position: center;
}

.card-title {
  font: Bold 14px/19px Nunito;
  letter-spacing: 0px;
  color: #393939;
  margin-bottom: 5px;
  height: 42px;
  overflow: scroll;
}

.card-title::-webkit-scrollbar {
  display: none;
}

.card-text {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  max-height: 66px;
  overflow-y: auto;
}

.card-text::-webkit-scrollbar {
  display: none;
}

.card-body {
  height: 144px;
  padding: 20px;
}

/* swiper js */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/* 
*
*
*
*
HALAMAN INDEX end
*
*
*
*
*/

/* HALAMAN TENTANG kAMI */

/* section 1 */

.aboutme-img {
  max-width: 720px;
  height: 350px;
  background: var(--unnamed-color-0a9ad3) 0% 0% no-repeat padding-box;
  background: #0a9ad3 0% 0% no-repeat padding-box;
  border-radius: 20px;
}

.aboutme-title {
  font: Medium 40px/30px Roboto;
  letter-spacing: 2px;
  color: #3d3d3d;
}

.aboutme-text {
  text-align: left;
  font-size: 17px;

  color: #3d3d3d;
}

/* section 1 end */

/* section 2 */
#proses-kerja {
  margin-top: 100px;
  margin-bottom: 160px;
}

.proses-title {
  text-align: left;
  font: Medium 45px/30px Roboto;
  letter-spacing: 2.25px;
  color: #3d3d3d;
  opacity: 1;
}

.proses-img {
  max-width: 235px;
  min-height: 255px;
  background: var(--unnamed-color-0a9ad3) 0% 0% no-repeat padding-box;
  background: #0a9ad3 0% 0% no-repeat padding-box;
  border-radius: 20px;
}

#mobil-img-3 {
  margin-bottom: 300px;
}

/* section 2 end */
/* 
*
*
*
*
 HALAMAN TENTANG KAMI end
*
*
*
*
*/

/* HALAMAN BRANDING MOBIL */

/* section 1 */

.brand-mobil-img {
  max-width: 513px;
  height: 297px;
  background: var(--unnamed-color-0a9ad3) 0% 0% no-repeat padding-box;
  background: #0a9ad3 0% 0% no-repeat padding-box;
  border-radius: 20px;
}

.brand-mobil-title {
  text-align: left;
  font-size: 35px;
  letter-spacing: 1px;
  color: #2d2d2d;
}

.brand-mobil-text {
  margin-top: 20px;
  text-align: left;
  font-size: 16px;
  font: Light 18px/24px Open Sans;
  letter-spacing: 0.6px;
  color: #2d2d2d;
  opacity: 1;
}

/* section 1 end */
/* 
*
*
*
*
 HALAMAN BRANDING MOBIL end
*
*
*
*
*/

/* HALAMAN PORTFOLIO */
/* section 1 */
#portfolio-title {
  font: Semibold 50px/68px Open Sans;
  letter-spacing: 2.5px;
  margin-bottom: 30px;
}

/* portfilio img */
.portfolio-item img {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 328px;
  height: 234px;
  background: #0a9ad3 0% 0% no-repeat padding-box;
  border-radius: 15px;
}

#pagination {
  margin-top: 65px;
  margin-bottom: 100px;
}

.pg-blue {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* section 1 end */
/* 
*
*
*
*
 HALAMAN BRANDING MOBIL end
*
*
*
*
*/

/* HALAMAN KONTAK */
/* section 1 */

/* kontak kiri */
#kontak {
  margin-bottom: 170px;
}

.header-kontak {
  text-align: left;
  font: Semibold 30px/41px Open Sans;
  letter-spacing: 1.5px;
  color: #5d5d5d;
  opacity: 1;
}

.text-kontak {
  text-align: left;
  font: Regular 20px/27px Open Sans;
  letter-spacing: 1px;
  color: #5d5d5d;
}

.tombol-kirim {
  width: 200px;
  height: 39px;
  background-color: #0d78c4;
  color: white;
  border-radius: 20px;
  border: none;
  margin: 30px 0;
}

.tombol-kirim:focus {
  outline: none;
}

/* kontak kanan */
.form-control {
  width: 270px;
}

.text-area {
  width: 80%;
}

/* section 1 end */
/* 
*
*
*
*
 HALAMAN KONTAK end
*
*
*
*
*/

/* HALAMAN FAQ */

.accordion-section .panel-default > .panel-heading {
  border-radius: 20px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 3px #8a8a8a29;
  border: 1px solid #b5b5b5;
  opacity: 1;
  margin-bottom: -12px;
}

.accordion-section .panel-default .panel-title a {
  text-align: left;
  font: Semibold 20px/27px Open Sans;
  letter-spacing: 1px;
  color: #5d5d5d;
  opacity: 1;
}

.accordion-section .panel-default .panel-title a:after {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 2rem;
  content: "\f106";
  color: #1f7de2;
  float: right;
  margin-top: -16px;
}

.accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}

.accordion-section .panel-default .panel-body {
  border-top: none;
  padding-top: 20px;
  border-bottom: 1px solid #acacac;
  border-right: 1px solid #acacac;
  border-left: 1px solid #acacac;
}

.panel-body p {
  text-align: left;
  font: Regular 20px/27px Open Sans;
  letter-spacing: 1px;
  color: #5d5d5d;
  opacity: 1;
}

.faq-img {
  max-width: 439px;
  height: 246px;
  background: #1a7fc7 0% 0% no-repeat padding-box;
  border: 1px solid #0e78c4;
  margin: 40px auto;
  margin-bottom: 80px;
}

/*
*
*
*
 HALAMAN FAQ end
*
*
*
*
*/

/* under 1300px */
@media (max-width: 1300px) {
  /* portfolio */
  .portfolio-img {
    width: 328px;
    height: 234px;
    margin: 20px auto;
  }

  .tombol-branding {
    margin: 5px 5px;
  }
}

/* under 1100px */
@media (max-width: 1100px) {
  .tombol-branding {
    font-size: 18px;
    height: 41px;
    width: 189px;
    /* border: 1px solid #707070;
    border-radius: 10px;
    margin: 0px 10px;
    background-color: #ffffff; */
  }
}

/* under 1000px */
@media (max-width: 1000px) {
  /* portfolio */
  .portfolio-img {
    width: 272px;
    height: 198px;
    margin: 20px auto;
  }

  /* tentang kami */
  .aboutme-img {
    margin: 10px auto;
  }

  .proses-img {
    margin: 10px auto;
  }

  /* index */
  .carousel-img {
    width: 864px;
    height: 372px;
  }

  .branding-img {
    width: 150px;
    height: 150px;
    margin: 10px 10px;
  }

  /* ALL */
  .tombol-branding {
    margin: 5px 5px;
  }
}

/* under 750px ================*/
@media (max-width: 767px) {
  /* brand mobil */
  .brand-mobil-img {
    max-width: 342px;
    height: 198px;
    margin: 10px auto;
  }

  .brand-mobil-text,
  .brand-mobil-title,
  .brand-mobil-img {
    margin: 10px 30px;
  }

  /* index */
  .branding-img {
    width: 145px;
    height: 145px;
    margin: 10px 10px;
  }

  .brand-imgs {
    padding: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .judul-home {
    font-size: 30px;
  }

  /* index */
  .carousel-img {
    width: 648px;
    height: 279px;
  }

  .tombol-branding {
    margin: 5px 5px;
  }

  #news {
    height: 680px;
  }
}

/* under 560px */
@media (max-width: 560px) {
  /* index */
  .carousel-img {
    width: 540px;
    height: 233px;
  }
}

/* under 430px */
@media (max-width: 430px) {
  /* portfolio */
  .portfolio-img {
    width: 292px;
    height: 208px;
    margin: 20px auto;
  }

  /* tentang kami */
  .proses-img {
    margin: 10px auto;
  }

  /* index */
  .carousel-img {
    width: 432px;
    height: 186px;
  }

  .slide-item {
    height: 500px;
  }

  .rectangle {
    top: 415px;
  }

  .branding-img {
    width: 100px;
    height: 100px;
    margin: 2px 2px;
  }

  .brand-imgs {
    padding: 0px auto;
  }
}

/* under 360px */
@media (max-width: 360px) {
  .carousel-img {
    width: 324px;
    height: 140px;
    margin-left: 0;
  }
}

/* upper 1200 */
@media (min-width: 1050px) {
  .text-kanan {
    padding-left: 95px;
  }
  .text-kiri {
    padding-right: 95px;
  }
}
@media screen and (min-width: 769px) {
  .container-fluid {
    margin-bottom: 6.5rem;
  }
  /* coba doang */
  /*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

  .item-wraper {
    margin-bottom: 30px;
    display: flex;
    justify-items: center;
    align-items: center;
  }

  .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 0px;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
  }

  .portfolio-item .portfolio-info h4 {
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    color: #473d3a;
  }
  .portfolio-item .portfolio-info p {
    text-align: center;
    color: #7f6d68;
    font-size: 14px;
    margin-bottom: 0;
  }

  /* .portfolio-item .portfolio-info .preview-link,
.portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #635551;
} */

  .portfolio-item:hover .portfolio-info {
    opacity: 1;
    bottom: 20px;
  }
}
