/* navbar */
nav {
  /*height: 61px;*/
  /*line-height: 51px;*/
  position: fixed;
}

.nav-logo {
  margin-left: 100px;
}

.navbar-nav li a {
  margin: 0px 13px;
}

.telp {
  margin-left: 40px;
  color: #5d5d5d;
}

@media (max-width: 1200px) {
  .nav-logo {
    margin-left: 90px;
  }
}

@media (max-width: 1100px) {
  .telp {
    margin-left: 13px;
  }
}

/* breadcrumb */
div>.breadcrumb {
  margin-top: 100px;
}

.breadcrumb {
  background-color: white;
  padding-left: 0px;
}

/* footer */
foot-logo {
  width: 200px;
}

h5 {
  text-align: left;
  font: Medium 18px/24px Roboto;
  letter-spacing: 0.9px;
  color: #5d5d5d;
  opacity: 1;
}

a:hover {
  color: #0e78c4;
  text-decoration: none;
}

footer {
  background: #e6e6e6 0% 0% no-repeat padding-box;
}

footer .row {
  max-width: 1300px;
  margin: 0px auto;
  padding: 40px 0px;
}

footer a {
  text-align: left;
  font-size: 15px;

  letter-spacing: 0.2px;
  color: #5d5d5d;
  opacity: 1;
}

@media (max-width: 1090px) {
  footer h5 {
    font-size: 18px;
    letter-spacing: 0.6px;
  }

  footer a {
    font-size: 12px;
    letter-spacing: 0;
  }
}

@media (max-width: 880px) {
  footer h5 {
    font-size: 16px;
    letter-spacing: 0.3px;
  }

  footer a {
    font-size: 10px;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .list-group-item img {
    width: 15px;
  }
}

@media (max-width: 767px) {
  .isi-footer {
    padding-left: 18%;
  }
}

@media (max-width: 450px) {
  .isi-footer {
    padding-left: 17%;
  }

  footer a {
    text-align: center;
  }
}

/* chat  button*/
.chat-admin,
.chat-whatsapp {
  cursor: pointer;
  margin-top: 10px;
  height: 36px;
  width: 150px;
  background-color: white;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  color: grey;
  font-size: 15px;
  line-height: 36px;
  border: 1px rgb(212, 212, 212) solid;
  box-shadow: 0px 2px #b1afaf;
}

/* body chat *